.content-wrapper {
    flex: 1;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-bottom: 1.5rem;
}

.card-header {
    padding: 1rem;
}

.table th {
    background-color: #f1f1f1;
}

.btn-group .btn {
    padding: 0.25rem 0.5rem;
}

.badge {
    padding: 0.5em 0.8em;
}