/* acercade.component.css */
.container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
}

/* faq.component.css */
.container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
}

/* contacto.component.css */
.container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
}