<div class="container mt-5">
    <h1 class="text-center">Acerca de ARGYM</h1>
    <p class="text-center">Bienvenido a ARGYM, tu gimnasio de confianza. Nos dedicamos a ofrecerte las mejores instalaciones y servicios para que alcances tus objetivos de fitness.</p>
    
    <h2 class="mt-4">Nuestra Misión</h2>
    <p>Proporcionar un ambiente motivador y profesional para ayudar a nuestros miembros a alcanzar sus metas de salud y bienestar.</p>
    
    <h2>Nuestros Valores</h2>
    <ul class="list-group">
    <li class="list-group-item">Compromiso</li>
    <li class="list-group-item">Integridad</li>
    <li class="list-group-item">Respeto</li>
    <li class="list-group-item">Excelencia</li>
    </ul>
</div>