.form-label {
    font-weight: 500;
}

.input-group .btn-danger {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

textarea {
    resize: vertical;
}

.btn-close:hover {
    opacity: 1;
}
